parameters:
    level: 1
    
    paths:
        - ./app
        
    ignoreErrors:
        - '#.*#'  # Ignore all errors for now, just check basic syntax
        
    excludePaths:
        - ./vendor/* (?)
        - ./build/* (?)
        - ./docs/* (?)
        - ./Tests/* (?)
        - ./tests/* (?)

    tmpDir: ../../../cache/build/phpstan_activity 